Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-09, with the labels that each got.

#188 fix/CCN3-1674/register-type-text
  arc_application/models/childcare_type.py
Labels: App: Frontend, Priority: High

#187 feat/CCN3-1666/update-dbs-task
  arc_application/fixtures/test_application.json
  arc_application/forms/form.py
  arc_application/models/criminal_record_check.py
  arc_application/summary_page_data.py
  arc_application/templates/dbs-check-summary.html
  arc_application/templates/task-list.html
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/views/arc_summary.py
  arc_application/views/dbs_check.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Feature

#189 feat/CCN3-1666/update-dbs-task
  arc_application/templates/dbs-check-summary.html
Labels: App: Frontend, Priority: High, Status: Review Needed

#190 CCN3-1561: Updates to Your personal details task
  arc_application/forms/form.py
  arc_application/models/applicant_home_address.py
  arc_application/models/application.py
  arc_application/models/arc.py
  arc_application/models/firstaid_training.py
  arc_application/models/previous_address.py
  arc_application/templates/personal-details-summary.html
  arc_application/templates/task-list.html
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/tests/test_selenium.py
  arc_application/tests/tests.py
  arc_application/views/arc_summary.py
  arc_application/views/personal_details.py
  arc_application/views/review.py
  arc_service/settings/base.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#193 Add models for your children and basic link routing
  arc_application/models/child.py
  arc_application/models/child_address.py
  arc_application/models/child_in_home.py
  arc_application/models/childbase.py
  arc_application/templates/task-list.html
  arc_application/templates/your-children-summary.html
  arc_application/views/__init__.py
  arc_application/views/your_children.py
  arc_service/urls.py
Labels: App: Backend

#195 CCN3-1561: Align Your personal details review page with Childminder
  arc_application/templates/personal-details-summary.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#198 Feat/ccn3 1754/your children task
  arc_application/forms/form.py
  arc_application/models/adult_in_home.py
  arc_application/models/arc_comments.py
  arc_application/models/child.py
  arc_application/models/childbase.py
  arc_application/review_util.py
  arc_application/templates/your-children-summary.html
  arc_application/views/personal_details.py
  arc_application/views/review.py
  arc_application/views/your_children.py
Labels: App: Backend, App: Frontend, Priority: High

#199 Your Children ARC updates
  arc_application/views/your_children.py
Labels: App: Backend, App: Frontend
