Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-11, with the labels that each got.

#240 fix/CCN3/fixed_encountered_bug_in_arc_CM_review
  arc_application/templates/childminder_templates/other-people-summary.html
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#242 fix/CCN3-1881/children_not_in_the_home_answer_false_not_no
  arc_application/views/childminder_views/arc_summary.py
Labels: App: Backend, Env: Dev, Priority: Low, Status: Review Needed, Type: Bug

#241 feat/CCN3-1571/arc-comments-handler-endpoint-name
  arc_application/services/arc_comments_handler.py
  arc_application/services/db_gateways.py
  arc_application/tests/test_nanny_flagging.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Feature

#244 Fix/ccn3 1881/children not in the home answer false not no
  arc_application/views/childminder_views/arc_summary.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#246 nanny_childcare_address.py: if not provided addresses don't call formset
  arc_application/views/nanny_views/nanny_childcare_address.py
Labels: App: Backend, Priority: High, Type: Bug

#247 fix/CCN3-1881/children_not_in_the_home_answer_false_not_no
  arc_application/views/childminder_views/arc_summary.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug, Type: Enhancement

#248 CCN3-1903: Add ARC functionality for new question on local authorities
  arc_application/models/adult_in_home.py
  arc_application/templates/childminder_templates/other-people-summary.html
  arc_application/views/childminder_views/review.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Feature

#250 Fix/arc childminder/fixes to previous registration form
  arc_application/forms/childminder_forms/form.py
  arc_application/views/childminder_views/review.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#251 fix/CCN3-1921/remove-manual-address-postcode-entry
  arc_application/forms/childminder_forms/form.py
Labels: App: Frontend, Priority: High, Type: Bug

#253 feat/CCN3-1933/update-django-version
  requirements.txt
Labels: App: Backend, Priority: High, Type: Enhancement

#254 fix/CCN3-1879/CM-resubmission-not-displaying-comments
  arc_application/forms/childminder_forms/form.py
  arc_application/views/childminder_views/other_people_in_home.py
  arc_application/views/childminder_views/review.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#257 fix/CCN3-1921/postcode-max-length
  arc_application/forms/childminder_forms/form.py
Labels: App: Frontend, Priority: High, Type: Bug

#259 fix/other-childminders-home
  arc_application/views/childminder_views/personal_details.py
Labels: App: Frontend, Priority: High, Type: Bug

#261 fix/CNN3-1911/added-send-survey-email-content-to-ARC
  arc_application/views/childminder_views/review.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Feature

#258 feat/Trello-137/conditional-redirect-people-in-the-home
  arc_application/childminder_task_util.py
  arc_application/templates/childminder_templates/task-list.html
  arc_application/tests/tests.py
  arc_application/views/childminder_views/dbs_check.py
  arc_application/views/childminder_views/other_people_in_home.py
  arc_application/views/childminder_views/review.py
  arc_application/views/childminder_views/task_list.py
  arc_application/views/your_children.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Bug, Type: Refactor

#256 fix/remove-nannies-for-release
  arc_application/services/db_gateways.py
  arc_application/templates/arc_user_summary.html
  arc_application/tests/test_arc_user_summary.py
  arc_application/views/arc_user_summary.py
Labels: App: Backend, App: Frontend, Priority: Low

#262 fix/remove-nannies-search
  arc_application/contact_centre.py
  arc_application/forms/childminder_forms/form.py
Labels: App: Backend

#263 fix/get-show-references
  arc_application/services/application_handler.py
  arc_application/views/childminder_views/task_list.py
Labels: App: Backend

#264 fix/trello#145/your-children-incorrectly-shown-in-arc-summary
  arc_application/views/childminder_views/arc_summary.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#266 Feat/ccn3 1864/your children nanny flagging
  arc_application/views/nanny_views/nanny_arc_summary.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug
