Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-04, with the labels that each got.

#51 .github: update templates
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Type: Enhancement

#50 Dockerfile: add dev packages
  .makerc
  Dockerfile
  Makefile
  README.md
  requirements.dev.txt
Labels: Env: Dev, Type: Feature

#52 Added dynamically generated arc summary page with flagged arc comments
  arc_application/contact_centre.py
  arc_application/summary_page_data.py
  arc_application/templates/arc-summary.html
  arc_application/templates/summary_tables.html
  arc_application/view/__init__.py
  arc_application/view/arc_summary.py
  arc_application/view/review.py
  arc_application/view/views.py
  arc_service/urls.py
Labels: App: Frontend, Priority: High, Type: Feature, Type: Userstory

#59 fixed cc search, summary and model issues
  .gitignore
  arc_application/contact_centre.py
  arc_application/migrations/0001_initial.py
  arc_application/models.py
  arc_application/models/__init__.py
  arc_application/models/adult_in_home.py
  arc_application/models/applicant_home_address.py
  arc_application/models/applicant_name.py
  arc_application/models/applicant_personal_details.py
  arc_application/models/application.py
  arc_application/models/arc.py
  arc_application/models/arc_comments.py
  arc_application/models/base.py
  arc_application/models/child_in_home.py
  arc_application/models/childcare_type.py
  arc_application/models/criminal_record_check.py
  arc_application/models/eyfs.py
  arc_application/models/firstaid_training.py
  arc_application/models/health_declaration_booklet.py
  arc_application/models/reference.py
  arc_application/models/user_details.py
  arc_application/templates/search-summary.html
  arc_application/templates/search.html
  arc_application/templates/summary_tables.html
  arc_application/tests.py
  arc_application/views/arc_summary.py
  arc_service/urls.py
  db.json
Labels: App: Backend, Priority: High, Type: Refactor

#72 fix/remove-knowledge-question
  arc_application/templates/contact-summary.html
  arc_application/tests/test_selenium.py
  arc_application/views/arc_summary.py
Labels: App: Frontend, Priority: Low, Type: Enhancement

#71 Feat/ccn3 803/code commentary
  arc_application/custom_field_widgets.py
  arc_application/review_util.py
  arc_application/summary_page_data.py
  arc_application/views/review.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Enhancement

#74 Merge feat/CCN3-911/column-headings into develop
  arc_application/templates/search.html
  arc_application/templates/summary.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Enhancement

#73 fix/arc-header-taskbar
  govuk_template/templates/govuk_template.html
Labels: Env: Stag, Priority: Medium, Type: Bug

#77 feat/ccn3-863/name-address-history
  arc_application/address_helper.py
  arc_application/forms.py
  arc_application/forms/form.py
  arc_application/migrations/0002_previousaddress_previousname.py
  arc_application/models/__init__.py
  arc_application/models/applicant_home_address.py
  arc_application/models/previous_address.py
  arc_application/models/previous_name.py
  arc_application/review_util.py
  arc_application/templates/add-previous-names.html
  arc_application/templates/ebulk_details/__init__.py
  arc_application/templates/generic_summary_template.html
  arc_application/templates/other-people-previous-address-lookup.html
  arc_application/templates/other-people-previous-address-manual-update.html
  arc_application/templates/other-people-previous-address-manual.html
  arc_application/templates/other-people-previous-address-select.html
  arc_application/templates/other-people-summary.html
  arc_application/templates/previous-address-snippet.html
  arc_application/views/other_people_addresses.py
  arc_application/views/other_people_in_home.py
  arc_application/views/review.py
  arc_service/settings/base.py
  arc_service/urls.py
  govuk_template/static/stylesheets/base.css
  selenium/screenshot-TestArcFunctions-2018-04-30_12-38-45.png
Labels: App: Backend, App: Frontend, Env: Stag, Priority: High, Status: Review Needed, Type: Feature
