Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-06, with the labels that each got.

#114 Updates to ARC and Contact Centre view
  arc_application/contact_centre.py
  arc_application/models/adult_in_home.py
  arc_application/models/applicant_home_address.py
  arc_application/models/applicant_personal_details.py
  arc_application/models/application.py
  arc_application/models/childcare_type.py
  arc_application/models/criminal_record_check.py
  arc_application/models/eyfs.py
  arc_application/models/firstaid_training.py
  arc_application/models/health_declaration_booklet.py
  arc_application/models/reference.py
  arc_application/summary_page_data.py
  arc_application/templates/arc-summary.html
  arc_application/views/arc_summary.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#115 Set Ofsted next steps e-mail timestamp on application acceptance
  arc_application/models/application.py
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/views/review.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#118 Ensure accepted status persists correctly when application is submitted by an arc user
  arc_application/views/review.py
Labels: App: Backend, Env: Dev, Type: Bug

#119 Added centralised regex
  arc_application/forms/form.py
  arc_application/forms/update_detail_forms/update_contact_details.py
  arc_service/settings/base.py
Labels: Type: Refactor

#124 Add default session timeout of 30 minutes to ARC application
  arc_service/settings/base.py
Labels: App: Backend, Priority: Medium

#125 Feat/ccn3-1077/people-in-home-ebulk
  arc_application/models/arc.py
  arc_application/templates/other-people-summary.html
  arc_application/views/other_people_in_home.py
  arc_service/settings/dev.py
Labels: App: Frontend, Priority: High

#126 Add login required decorator to redirect on session expiry
  arc_application/views/arc_summary.py
  arc_application/views/base.py
  arc_application/views/contact_details.py
  arc_application/views/dbs_check.py
  arc_application/views/eyfs_check.py
  arc_application/views/first_aid_training.py
  arc_application/views/health_declaration_booklet.py
  arc_application/views/other_people_addresses.py
  arc_application/views/other_people_in_home.py
  arc_application/views/personal_details.py
  arc_application/views/personal_details_addresses.py
  arc_application/views/references.py
  arc_application/views/review.py
  arc_application/views/type_of_childcare.py
Labels: App: Backend

#128 Add restriction to task list for ARC user access
  arc_application/views/arc_summary.py
  arc_application/views/review.py
Labels: App: Backend
