Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-10, with the labels that each got.

#205 CCN3-1837: If statements to show/hide People in the home tables
  arc_application/views/arc_summary.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#204 feat/ccn3-1787/people-in-the-home-updates
  arc_application/forms/form.py
  arc_application/models/adult_in_home.py
  arc_application/review_util.py
  arc_application/templates/other-people-summary.html
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/tests/tests.py
  arc_application/views/other_people_in_home.py
  arc_application/views/review.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Feature

#207 CCN3-1837: Show/hide your children's addresses/details based on caring at home
  arc_application/views/arc_summary.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#208 ARC Summary Page fix
  .gitignore
  arc_application/tests/test_forms.py
  arc_application/tests/tests.py
  arc_application/views/arc_summary.py
Labels: App: Backend

#209 other_people_in_home.py: Only check own_children_not_in_home if needed.
  arc_application/views/other_people_in_home.py
Labels: App: Backend, Priority: High, Type: Bug

#210 other_people_in_home.py: Fix task status not changing to 'Update'.
  arc_application/views/other_people_in_home.py
Labels: App: Backend, Priority: High, Type: Bug

#212 feat/CCN3-1612/govuk-template-title
  arc_application/templates/registration/login.html
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Feature

#213 fix/CCN3-1873/update-task-list-to-conform-with-accessibility-recommendations
  arc_application/static/stylesheets/custom.css
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Enhancement

#216 fix/CCN3-1873/update-task-list-to-conform-with-accessibility-recommendations
  arc_application/static/stylesheets/custom.css
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed

#217 fix/CCN3-1873/update-task-list-to-conform-with-accessibility-recommendations
  arc_application/static/stylesheets/custom.css
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Enhancement

#221 fix/trello-133/Previous-Registration-Table-Title-Is-Not-Sentance_Case
  arc_application/templates/personal-details-summary.html
Labels: App: Frontend, Env: Dev, Priority: Low, Status: Review Needed, Type: Enhancement

#227 feat/ccn3-1422/nanny-audit-log
  arc_application/services/arc_comments_handler.py
  arc_application/services/db_gateways.py
  arc_application/templates/auditlog_list.html
  arc_application/templates/childminder_templates/task-list.html
  arc_application/templates/nanny_templates/nanny_task_list.html
  arc_application/tests/test_arc_user_summary.py
  arc_application/tests/test_audit_log_dispatcher.py
  arc_application/tests/test_nanny_audit_log.py
  arc_application/tests/test_nanny_flagging.py
  arc_application/tests/test_utils.py
  arc_application/views/audit_log.py
  arc_application/views/base.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_childcare_training.py
  arc_application/views/nanny_views/nanny_dbs_check.py
  arc_application/views/nanny_views/nanny_first_aid.py
  arc_application/views/nanny_views/nanny_form_view.py
  arc_application/views/nanny_views/nanny_insurance_cover.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Feature

#231 Feat/ccn3 1825/arc update personal details task for children known to la
  arc_application/views/nanny_views/nanny_personal_details.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Feature

#233 fix/CCN3-1866/fix-arc-accpeting-application'
  arc_application/views/childminder_views/review.py
Labels: App: Backend, Type: Bug

#232 CCN3-1894: Fix content for Type of childcare page
  arc_application/templates/childminder_templates/childcare-age-groups.html
  arc_application/tests/tests.py
  arc_application/views/childminder_views/type_of_childcare.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#234 fix/CCN3-1825/Fixing-bug-with-ARC-your-children-task
  arc_application/views/nanny_views/nanny_form_view.py
  arc_application/views/nanny_views/nanny_personal_details.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#236 CCN3-1903: Add new local authority health question for PIH to ARC search summary
  arc_application/models/adult_in_home.py
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/tests/test_migrations/0002_auto_20181026_1530.py
  arc_application/views/childminder_views/arc_summary.py
  arc_application/views/childminder_views/other_people_in_home.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Feature

#239 feat/ccn3-1419/nanny-arc-flagging
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/services/arc_comments_handler.py
  arc_application/templates/nanny_templates/nanny_childcare_address_template.html
  arc_application/templates/nanny_templates/nanny_general_template.html
  arc_application/templates/nanny_templates/nanny_summary_tables.html
  arc_application/templatetags/general_table_extras.py
  arc_application/tests/test_nanny_flagging.py
  arc_application/tests/test_utils.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_childcare_address.py
  arc_application/views/nanny_views/nanny_form_view.py
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Enhancement
