Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-08, with the labels that each got.

#154 CCN3-1443: Set resend email limit to 0 after ARC reviewer flags health check
  arc_application/review_util.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#156 feat/CCN3-1511/nanny-templates
  arc_application/forms/nanny_forms/nanny_first_aid_training_form.py
  arc_application/models/applicant_name.py
  arc_application/templates/arc_user_summary.html
  arc_application/templates/nanny_templates/nanny_arc_summary.html
  arc_application/templates/nanny_templates/nanny_childcare_address_template.html
  arc_application/templates/nanny_templates/nanny_general_address_template.html
  arc_application/templates/nanny_templates/nanny_general_table_template.html
  arc_application/templates/nanny_templates/nanny_general_template.html
  arc_application/templates/nanny_templates/nanny_personal_details_summary.html
  arc_application/templates/nanny_templates/nanny_return_to_list.html
  arc_application/templates/nanny_templates/nanny_summary_tables.html
  arc_application/templates/nanny_templates/nanny_task_list.html
  arc_application/templates/review-confirmation.html
  arc_application/templates/review-sent-back.html
  arc_application/templatetags/general_table_extras.py
  arc_application/views/childminder_views/first_aid_training.py
  arc_application/views/childminder_views/review.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_arc_summary_confirmation.py
  arc_application/views/nanny_views/nanny_childcare_address.py
  arc_application/views/nanny_views/nanny_childcare_training.py
  arc_application/views/nanny_views/nanny_contact_details.py
  arc_application/views/nanny_views/nanny_dbs_check.py
  arc_application/views/nanny_views/nanny_first_aid.py
  arc_application/views/nanny_views/nanny_insurance_cover.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_task_list.py
  arc_application/views/nanny_views/nanny_view_helpers.py
  arc_service/settings/base.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Feature

#157 fix/back-merge-release-1.2-into-develop
  arc_application/contact_centre.py
  arc_application/review_util.py
  arc_application/templates/childminder_templates/search.html
Labels: Priority: High

#159 Fix/CCN3-1378/search-two-chars
  arc_application/forms/childminder_forms/form.py
Labels: App: Backend, App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#163 feat/ccn3-1419/nanny-arc-flagging
  arc_application/forms/nanny_forms/__init__.py
  arc_application/forms/nanny_forms/nanny_first_aid_training_form.py
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/services/arc_comments_handler.py
  arc_application/services/db_gateways.py
  arc_application/services/nanny_email_helpers.py
  arc_application/services/nanny_view_helpers.py
  arc_application/templates/childminder_templates/auditlog_list.html
  arc_application/templates/nanny_templates/nanny_childcare_address_template.html
  arc_application/templates/nanny_templates/nanny_general_table_template.html
  arc_application/templates/nanny_templates/nanny_personal_details_summary.html
  arc_application/tests/test_nanny_arc_summary_confirmation.py
  arc_application/tests/test_nanny_flagging.py
  arc_application/tests/test_nanny_helpers.py
  arc_application/tests/test_utils.py
  arc_application/views/__init__.py
  arc_application/views/base.py
  arc_application/views/nanny_views/__init__.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_arc_summary_confirmation.py
  arc_application/views/nanny_views/nanny_childcare_training.py
  arc_application/views/nanny_views/nanny_dbs_check.py
  arc_application/views/nanny_views/nanny_first_aid.py
  arc_application/views/nanny_views/nanny_form_view.py
  arc_application/views/nanny_views/nanny_insurance_cover.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_task_list.py
  arc_service/settings/base.py
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Feature

#170 fix/CCN3-1378/application-search-2-characters
  arc_application/forms/form.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Bug

#171 Add 'service_name' variable to Nanny email sending functions.
  arc_application/notify.py
  arc_application/services/nanny_email_helpers.py
Labels: App: Backend, Priority: Medium, Type: Bug

#173 fix/nanny-arc-confirmation-emails-templates
  arc_application/services/nanny_email_helpers.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_arc_summary_confirmation.py
Labels: App: Backend, Priority: Low

#177 Fix/insurance comments box
  arc_application/views/nanny_views/nanny_insurance_cover.py
Labels: App: Frontend, Priority: High, Type: Bug

#181 feat/ccn3-1531/update-eyfs-task
  arc_application/fixtures/test_application.json
  arc_application/forms/form.py
  arc_application/models/__init__.py
  arc_application/models/application.py
  arc_application/models/arc.py
  arc_application/models/childcare_training.py
  arc_application/models/eyfs.py
  arc_application/review_util.py
  arc_application/summary_page_data.py
  arc_application/templates/childcare-training-summary.html
  arc_application/templates/eyfs-summary.html
  arc_application/templates/task-list.html
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/tests/test_migrations/0002_auto_20180612_1653.py
  arc_application/tests/test_migrations/0021_auto_20180727_1400.py
  arc_application/tests/tests.py
  arc_application/views/arc_summary.py
  arc_application/views/base.py
  arc_application/views/childcare_training_check.py
  arc_application/views/eyfs_check.py
  arc_application/views/first_aid_training.py
  arc_application/views/review.py
  arc_service/urls.py
  db.json
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Feature

#186 CC search error fix
  arc_application/tests/test_selenium.py
  arc_application/views/arc_summary.py
Labels: App: Backend
