Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-07, with the labels that each got.

#134 swap other person previous registration radio button order
  arc_application/forms/form.py
Labels: App: Frontend, Env: Dev, Priority: Medium

#135 Get adult record by pk
  arc_application/review_util.py
Labels: App: Backend, Env: Dev, Type: Bug

#136 Use application reference in returned email
  arc_application/views/review.py
Labels: App: Backend, Env: Dev, Priority: Low, Type: Bug

#137 Switch Yes/No on previous registration page
  arc_application/forms/form.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#139 Reset declaration task status before application is returned
  arc_application/review_util.py
  arc_application/views/base.py
Labels: App: Backend, Env: Dev, Type: Bug

#142 Change field updated upon application acceptance
  arc_application/views/review.py
Labels: App: Backend, Env: Dev, Priority: Low

#143 fix/trello-68/bug-2-early-year-returned-done
  arc_application/views/review.py
Labels: App: Backend, Priority: Medium, Type: Bug

#149 fix/review summary flags
  arc_application/views/arc_summary.py
Labels: App: Backend, Priority: Medium, Type: Bug
