Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2018-05, with the labels that each got.

#80 feat/ccn3-867/previous-registration-details-view
  arc_application/forms/form.py
  arc_application/migrations/0002_auto_20180425_1501.py
  arc_application/migrations/0003_auto_20180430_1419.py
  arc_application/migrations/0004_auto_20180430_1643.py
  arc_application/migrations/0005_auto_20180430_1650.py
  arc_application/migrations/0006_auto_20180501_1352.py
  arc_application/migrations/0007_previousregistrationdetails_individual_id.py
  arc_application/migrations/0008_merge_20180501_1913.py
  arc_application/models/__init__.py
  arc_application/models/previous_registration_details.py
  arc_application/review_util.py
  arc_application/templates/add-previous-registration.html
  arc_application/templates/personal-details-summary.html
  arc_application/templates/standard-error-summary.html
  arc_application/views/other_people_in_home.py
  arc_application/views/personal_details.py
  arc_application/views/review.py
  arc_service/urls.py
  govuk_template/static/stylesheets/base.css
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Enhancement

#78 Merge fix/arc-css into develop
  arc_application/templates/404.html
  arc_application/templates/500.html
  arc_application/templates/arc-summary.html
  arc_application/templates/auditlog_list.html
  arc_application/templates/childcare-age-groups.html
  arc_application/templates/comments.html
  arc_application/templates/contact-summary.html
  arc_application/templates/dbs-check-summary.html
  arc_application/templates/first-aid-summary.html
  arc_application/templates/health-check-answers.html
  arc_application/templates/other-people-summary.html
  arc_application/templates/personal-details-summary.html
  arc_application/templates/references-summary.html
  arc_application/templates/registration/login.html
  arc_application/templates/review-sent-back.html
  arc_application/templates/search-summary.html
  arc_application/templates/search.html
  arc_application/templates/summary.html
  arc_application/templates/summary_tables.html
  arc_application/templates/task-list.html
  arc_application/templates/update_details/update_field.html
  arc_application/tests/test_selenium.py
  arc_application/views/arc_summary.py
  arc_application/views/base.py
  arc_application/views/contact_centre/change_details.py
Labels: App: Frontend, Env: Dev, Priority: Low, Status: Review Needed, Type: Enhancement

#84 Merge fix/arc-cleanup into develop
  arc_application/views/arc_summary.py
  arc_application/views/base.py
  arc_application/views/contact_details.py
  arc_application/views/dbs_check.py
  arc_application/views/first_aid_training.py
  arc_application/views/health_declaration_booklet.py
  arc_application/views/other_people_in_home.py
  arc_application/views/personal_details_addresses.py
  arc_application/views/references.py
  arc_application/views/review.py
  arc_application/views/type_of_childcare.py
  arc_service/urls.py
Labels: App: Backend, Env: Dev, Priority: Low, Status: Review Needed, Type: Refactor

#85 Remove additional comments page
  arc_application/migrations/0001_initial.py
  arc_application/migrations/0002_auto_20180425_1501.py
  arc_application/migrations/0002_previousaddress_previousname.py
  arc_application/migrations/0003_auto_20180430_1419.py
  arc_application/migrations/0003_auto_20180501_0950.py
  arc_application/migrations/0004_auto_20180430_1643.py
  arc_application/migrations/0005_auto_20180430_1650.py
  arc_application/migrations/0006_auto_20180501_1352.py
  arc_application/migrations/0007_previousregistrationdetails_individual_id.py
  arc_application/migrations/0008_merge_20180501_1913.py
  arc_application/migrations/0009_merge_20180502_0928.py
  arc_application/migrations/0010_auto_20180502_1022.py
  arc_application/models/arc.py
  arc_application/templates/comments.html
  arc_application/tests/test_selenium.py
  arc_application/views/arc_summary.py
  arc_application/views/review.py
  arc_service/urls.py
  db.json
  govuk_template/static/stylesheets/base_radio.css
Labels: App: Frontend, Env: Dev

#89 re-order tasks on list and summary
  arc_application/templates/task-list.html
  arc_application/tests/test_selenium.py
  arc_application/views/arc_summary.py
  arc_application/views/health_declaration_booklet.py
  arc_application/views/other_people_in_home.py
  arc_application/views/references.py
Labels: App: Frontend, Env: Dev, Type: Userstory

#91 fix/previous-application-id-validation
  arc_application/forms/form.py
Labels: App: Frontend, Priority: Medium, Type: Bug

#90 fix/add-early-years-view
  arc_application/fixtures/test_application.json
  arc_application/forms/form.py
  arc_application/migrations/0001_initial.py
  arc_application/models/arc.py
  arc_application/models/eyfs.py
  arc_application/templates/eyfs-summary.html
  arc_application/templates/task-list.html
  arc_application/tests/test_selenium.py
  arc_application/tests/tests.py
  arc_application/views/base.py
  arc_application/views/dbs_check.py
  arc_application/views/eyfs_check.py
  arc_application/views/review.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Bug, Type: Enhancement

#92 Merge 'feat/CCN3-892/returned-applications' into develop
  arc_application/fixtures/test_application.json
  arc_application/models/adult_in_home.py
  arc_application/models/applicant_home_address.py
  arc_application/models/applicant_name.py
  arc_application/models/applicant_personal_details.py
  arc_application/models/application.py
  arc_application/models/arc_comments.py
  arc_application/models/child_in_home.py
  arc_application/models/childcare_type.py
  arc_application/models/criminal_record_check.py
  arc_application/models/eyfs.py
  arc_application/models/firstaid_training.py
  arc_application/models/health_declaration_booklet.py
  arc_application/models/previous_address.py
  arc_application/models/previous_name.py
  arc_application/models/reference.py
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/tests/test_migrations/__init__.py
  arc_application/tests/tests.py
  arc_application/views/contact_details.py
  arc_application/views/dbs_check.py
  arc_application/views/first_aid_training.py
  arc_application/views/other_people_in_home.py
  arc_application/views/personal_details.py
  arc_application/views/references.py
  arc_service/settings/base.py
  arc_service/settings/build.py
  arc_service/settings/dev.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#93 Remove references to dbs certificate check
  arc_application/fixtures/test_application.json
  arc_application/models/criminal_record_check.py
  arc_application/templates/dbs-check-summary.html
  arc_application/templates/declaration-summary.html
  arc_application/templates/other-people-summary.html
  arc_application/templates/references-summary.html
  arc_application/templates/task-list.html
  arc_application/tests/tests.py
  arc_application/views/dbs_check.py
  db.json
Labels: App: Backend, App: Frontend, Env: Dev, Type: Enhancement

#96 Update CSS not supported by Internet Explorer
  arc_application/static/stylesheets/custom.css
Labels: App: Frontend, Env: Dev, Type: Bug

#99 fix/returned-application-progress
  arc_application/views/review.py
Labels: App: Frontend, Priority: Critical, Status: Review Needed, Type: Bug

#101 Allow an arc user to search for an application
  arc_application/contact_centre.py
  arc_application/templates/return-to-list.html
  arc_application/templates/update_details/update_field.html
  arc_application/tests/test_selenium.py
  arc_application/views/arc_summary.py
  arc_application/views/base.py
  arc_application/views/contact_centre/change_details.py
  govuk_template/templates/govuk_template.html
Labels: App: Backend, App: Frontend, Env: Dev, Type: Feature

#102 fix/update-arc-user-details-model
  arc_application/fixtures/test_application.json
  arc_application/models/user_details.py
  arc_application/tests/test_migrations/0002_auto_20180521_1130.py
  arc_application/views/contact_details.py
Labels: App: Backend, Priority: Medium, Type: Bug

#104 Remove all reference to adult permission in template, model and views
  arc_application/models/adult_in_home.py
  arc_application/templates/other-people-summary.html
  arc_application/views/other_people_in_home.py
Labels: App: Backend, App: Frontend, Priority: Critical, Type: Bug

#106 fix/summary-section-progress
  arc_application/tests/test_migrations/0003_auto_20180522_1021.py
  arc_application/tests/test_migrations/0004_auto_20180522_1458.py
  arc_application/tests/test_migrations/0005_auto_20180522_1509.py
  arc_application/tests/test_migrations/0006_auto_20180523_1507.py
  arc_application/tests/test_migrations/0007_auto_20180524_1731.py
  arc_application/views/base.py
  arc_application/views/contact_details.py
  arc_application/views/dbs_check.py
  arc_application/views/eyfs_check.py
  arc_application/views/first_aid_training.py
  arc_application/views/personal_details.py
  arc_application/views/references.py
  arc_application/views/review.py
  requirements.dev.txt
  requirements.txt
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#107 Render individual people in home in summary page
  arc_application/migrations/0001_initial.py
  arc_application/models/adult_in_home.py
  arc_application/models/applicant_home_address.py
  arc_application/models/applicant_name.py
  arc_application/models/applicant_personal_details.py
  arc_application/models/application.py
  arc_application/models/child_in_home.py
  arc_application/models/childcare_type.py
  arc_application/models/criminal_record_check.py
  arc_application/models/eyfs.py
  arc_application/models/firstaid_training.py
  arc_application/models/health_declaration_booklet.py
  arc_application/models/reference.py
  arc_application/models/user_details.py
  arc_application/templates/arc-summary.html
  arc_application/templates/auditlog_list.html
  arc_application/templates/search-summary.html
  arc_application/views/arc_summary.py
  arc_application/views/base.py
Labels: App: Backend, App: Frontend, Env: Dev, Type: Bug

#111 Update reference to be public-facing rather than UUID
  arc_application/views/review.py
Labels: App: Backend, Env: Dev, Type: Userstory

#112 Contact centre summary ref
  arc_application/contact_centre.py
  arc_application/templates/search-summary.html
  arc_application/views/arc_summary.py
Labels: App: Backend, App: Frontend, Env: Dev, Type: Enhancement

#113 Show statuses in contact centre search results
  arc_application/contact_centre.py
  arc_application/templates/search.html
Labels: App: Backend, App: Frontend, Env: Dev, Type: Feature
