Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2019-02, with the labels that each got.

#275 Feat/ccn3 1980/update your children base master
  arc_application/forms/childminder_forms/form.py
  arc_application/models/adult_in_home.py
  arc_application/models/application.py
  arc_application/services/nanny_view_helpers.py
  arc_application/summary_page_data.py
  arc_application/templates/childminder_templates/other-people-summary.html
  arc_application/templates/childminder_templates/personal-details-summary.html
  arc_application/tests/test_migrations/0001_initial.py
  arc_application/tests/test_nanny_helpers.py
  arc_application/views/childminder_views/arc_summary.py
  arc_application/views/childminder_views/other_people_in_home.py
  arc_application/views/childminder_views/personal_details.py
  arc_application/views/childminder_views/task_list.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Feature

#276 feat/CCN3-2124/flag-comment-limit-cm
  arc_application/forms/childminder_forms/form.py
  arc_application/models/arc_comments.py
  arc_application/tests/test_migrations/0001_initial.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Feature

#278 Feat/ccn3 2124/flag comment limit nannies
  arc_application/forms/nanny_forms/nanny_form_builder.py
Labels: App: Backend, Priority: Low, Type: Enhancement

#283 fix/CCN3-1980/personal-details-logic
  arc_application/templates/childminder_templates/personal-details-summary.html
  arc_application/views/childminder_views/arc_summary.py
  arc_application/views/childminder_views/personal_details.py
Labels: App: Frontend, Status: Review Needed, Type: Bug

#285 fix/CCN3-2114/json-decode-error
  arc_application/views/upload_capita_dbs.py
Labels: App: Backend, Priority: High, Type: Bug

#286 fix "Enhanced DBS Check?" flag on childminder PITH review page
  arc_application/forms/childminder_forms/form.py
  arc_application/templates/childminder_templates/other-people-summary.html
Labels: App: Backend, App: Frontend, Type: Bug

#289 Feat/ccn3 2108/update arc nannies dbs content
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/tests/utils.py
  arc_application/views/nanny_views/nanny_dbs_check.py
Labels: App: Backend, App: Frontend, Type: Feature

#291 feat/CCN3-2073/update-content-childcare-address
  arc_application/views/nanny_views/nanny_childcare_address.py
Labels: App: Frontend

#292 feat/CCN3-2108/update-arc-nannies-dbs -content
  arc_application/views/nanny_views/nanny_dbs_check.py
Labels: App: Frontend
