Repository InformedSolutions/OFS-MORE-ARC-Website, pull requests merged in 2019-03, with the labels that each got.

#295 fix/CCN3-1913/lived abroad personal details removal
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/templates/nanny_templates/nanny_general_table_template.html
  arc_application/tests/test_audit_log/test_routing.py
  arc_application/views/nanny_views/nanny_dbs_check.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_search_summary.py
Labels: App: Backend, App: Frontend, Priority: Medium, Type: Question

#296 Fix/ccn3 1419/nanny review flagging
  arc_application/contact_centre.py
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/tests/test_audit_log/test_routing.py
  arc_application/tests/test_childminder_review/test_routing.py
  arc_application/tests/test_nanny_confirmation/__init__.py
  arc_application/tests/test_nanny_confirmation/test_routing.py
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/tests/utils.py
  arc_application/views/base.py
  arc_application/views/childminder_views/__init__.py
  arc_application/views/childminder_views/other_people_in_home.py
  arc_application/views/childminder_views/review.py
  arc_application/views/contact_centre/change_details.py
  arc_application/views/contact_centre/nanny_change_details.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_dbs_check.py
  arc_application/views/search_router.py
  arc_service/urls.py
Labels: App: Backend, Type: Bug, Type: Refactor, Type: Tests

#298 fixed wrong dates for nanny applications
  arc_application/services/application_handler.py
Labels: App: Frontend, Type: Bug

#301 feat/CCN3-2179/amend-application-order
  arc_application/services/application_handler.py
Labels: App: Backend, App: Frontend, Type: Enhancement

#303 Refactor/move custom fields and widgets
  arc_application/form_fields.py
  arc_application/forms/childminder_forms/form.py
  arc_application/widgets.py
  arc_application/widgets/ConditionalPostChoiceWidget.py
  arc_application/widgets/__init__.py
Labels: App: Backend, Type: Refactor

#304 Feat/CCN3-2227/mvp reporting
  arc_application/static/stylesheets/custom.css
  arc_application/templates/applications_summary.html
  arc_application/tests/test_applications_summary.py
  arc_application/views/applications_summary.py
  arc_service/urls.py
  govuk_template/templates/govuk_template.html
Labels: App: Backend, App: Frontend, Type: Feature

#305 feat/CCN3-2041/contact-search-summary
  arc_application/views/nanny_views/nanny_childcare_address.py
Labels: App: Backend, App: Frontend

#302 Add nanny pdf export function
  arc_application/messaging/application_exporter.py
  arc_application/messaging/document_generator.py
  arc_application/models/__init__.py
  arc_application/models/application_reference.py
  arc_application/templates/childminder-pdf-summary-table.html
  arc_application/templates/childminder-pdf-summary.html
  arc_application/templates/nanny-pdf-summary-table.html
  arc_application/templates/nanny-pdf-summary.html
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/views/base.py
  arc_application/views/childminder_views/review.py
  arc_application/views/nanny_views/__init__.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_utils.py
Labels: App: Backend

#306 Update arc nanny application summary
  arc_application/views/nanny_views/nanny_search_summary.py
Labels: App: Frontend

#307 Correct export functions
  arc_application/messaging/application_exporter.py
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/views/base.py
Labels: App: Backend

#309 Move position of application export for childminders
  arc_application/views/base.py
  arc_application/views/childminder_views/review.py
Labels: App: Backend

#311 fix/CCN3-2296/fixing-date-formatting
  arc_application/views/nanny_views/nanny_personal_details.py
Labels: App: Frontend, Type: Bug

#313 Feat/ccn3 2102/previous registrations history nannies
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/forms/nanny_forms/nanny_previous_registration_form.py
  arc_application/services/db_gateways.py
  arc_application/templates/nanny_templates/nanny_add_previous_registration.html
  arc_application/templates/nanny_templates/nanny_general_template.html
  arc_application/templates/nanny_templates/nanny_personal_details_summary.html
  arc_application/templates/nanny_templates/standard-error-summary.html
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/tests/utils.py
  arc_application/views/nanny_views/__init__.py
  arc_application/views/nanny_views/nanny_form_view.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_previous_registration.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Type: Feature

#314 Feat/ccn3 2285/previous name dates for childminder applicant
  arc_application/forms/childminder_forms/form.py
  arc_application/models/adult_in_home.py
  arc_application/models/applicant_name.py
  arc_application/models/applicant_personal_details.py
  arc_application/models/previous_name.py
  arc_application/summary_page_data.py
  arc_application/templates/childminder_templates/add-previous-names-old.html
  arc_application/templates/childminder_templates/personal-details-summary.html
  arc_application/tests/test_childminder_review/test_routing.py
  arc_application/tests/utils.py
  arc_application/views/childminder_views/childminder_utils.py
  arc_application/views/childminder_views/other_people_in_home.py
  arc_application/views/childminder_views/personal_details.py
  arc_application/views/childminder_views/previous_names.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Type: Refactor, Type: Tests, Type: Userstory

#315 fixing error summary
  arc_application/forms/childminder_forms/form.py
Labels: App: Frontend, Type: Bug

#316 add alt text for change-previous-registration links
  arc_application/templates/nanny_templates/nanny_personal_details_summary.html
Labels: App: Frontend, Type: Bug

#318 Fix/error template resolution
  arc_application/forms/childminder_forms/form.py
  arc_application/static/stylesheets/custom.css
Labels: App: Backend, App: Frontend, Type: Bug

#319 Fix to export previous registrations of adults in the home
  arc_application/messaging/application_exporter.py
Labels: App: Backend

#320 Fix/add previous registration export for nannies
  arc_application/messaging/application_exporter.py
Labels: App: Backend, Type: Bug

#324 Hide applications on search page
  arc_application/contact_centre.py
Labels: App: Frontend

#325 Feat/ccn3 2291/nanny previous name history
  arc_application/forms/previous_names.py
  arc_application/services/arc_comments_handler.py
  arc_application/services/db_gateways.py
  arc_application/templates/nanny_templates/nanny-add-previous-names.html
  arc_application/templates/nanny_templates/nanny_general_table_template.html
  arc_application/templates/nanny_templates/nanny_personal_details_summary.html
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/tests/utils.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_previous_names.py
  arc_application/views/nanny_views/nanny_search_summary.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Type: Feature

#326 feat/CCN3-2283/amend-nanny-application-order
  arc_application/services/application_handler.py
  arc_application/tests/test_arc_user_summary/test_routing.py
Labels: App: Backend, Type: Feature

#328 feat/CCN3-2291/nanny-previous-names-history
  arc_application/forms/previous_names.py
  arc_application/views/nanny_views/nanny_personal_details.py
Labels: App: Backend, App: Frontend

#331 CCN3-2395/integration messaging
  arc_application/templates/childminder_templates/arc-summary.html
  arc_application/templates/childminder_templates/integration-cutover-warning.html
  arc_application/templates/childminder_templates/task-list.html
  arc_application/tests/test_childminder_review/test_routing.py
  arc_application/views/base.py
Labels: App: Frontend

#330 Feat/ccn 2100/nannies previous addresses
  arc_application/custom_field_widgets.py
  arc_application/form_fields.py
  arc_application/forms/childminder_forms/form.py
  arc_application/forms/nanny_forms/nanny_form_builder.py
  arc_application/forms/nanny_forms/nanny_previous_registration_form.py
  arc_application/forms/previous_addresses.py
  arc_application/forms/previous_names.py
  arc_application/services/db_gateways.py
  arc_application/templates/childminder_templates/personal-details-summary.html
  arc_application/templates/nanny_templates/nanny_add_previous_address_addresses.html
  arc_application/templates/nanny_templates/nanny_add_previous_address_manual.html
  arc_application/templates/nanny_templates/nanny_add_previous_address_search.html
  arc_application/templates/nanny_templates/nanny_add_previous_address_select.html
  arc_application/templates/nanny_templates/nanny_change_previous_address.html
  arc_application/templates/nanny_templates/nanny_childcare_address_template.html
  arc_application/templates/nanny_templates/nanny_general_address_template.html
  arc_application/templates/nanny_templates/nanny_general_table_template.html
  arc_application/templates/nanny_templates/nanny_personal_details_summary.html
  arc_application/templatetags/alt_text_extras.py
  arc_application/tests/test_nanny_review/test_routing.py
  arc_application/tests/utils.py
  arc_application/utils.py
  arc_application/views/nanny_views/__init__.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_previous_addresses.py
  arc_application/widgets.py
  arc_service/urls.py
Labels: App: Backend, App: Frontend, Type: Userstory

#336 add missing security checks to urls. Update user_assigned_application…
  arc_application/decorators.py
  arc_application/templates/nanny_templates/nanny_change_previous_address.html
  arc_application/views/childminder_views/personal_details_addresses.py
  arc_application/views/contact_centre/change_details.py
  arc_application/views/contact_centre/nanny_change_details.py
  arc_application/views/nanny_views/nanny_previous_addresses.py
  arc_application/views/nanny_views/nanny_previous_registration.py
Labels: Type: Bug

#337 Feat/ccn3 2420/logging-enhancements
  arc_application/messaging/document_generator.py
  arc_application/messaging/sqs_handler.py
  arc_application/views/applications_summary.py
  arc_application/views/arc_user_summary.py
  arc_application/views/base.py
  arc_application/views/childminder_views/arc_summary.py
  arc_application/views/childminder_views/childcare_training_check.py
  arc_application/views/childminder_views/childminder_utils.py
  arc_application/views/childminder_views/contact_details.py
  arc_application/views/childminder_views/dbs_check.py
  arc_application/views/childminder_views/first_aid_training.py
  arc_application/views/childminder_views/health_declaration_booklet.py
  arc_application/views/childminder_views/other_people_addresses.py
  arc_application/views/childminder_views/other_people_in_home.py
  arc_application/views/childminder_views/personal_details.py
  arc_application/views/childminder_views/personal_details_addresses.py
  arc_application/views/childminder_views/previous_names.py
  arc_application/views/childminder_views/references.py
  arc_application/views/childminder_views/review.py
  arc_application/views/childminder_views/task_list.py
  arc_application/views/childminder_views/type_of_childcare.py
  arc_application/views/contact_centre/change_details.py
  arc_application/views/contact_centre/nanny_change_details.py
  arc_application/views/contact_details.py
  arc_application/views/nanny_views/nanny_arc_summary.py
  arc_application/views/nanny_views/nanny_arc_summary_confirmation.py
  arc_application/views/nanny_views/nanny_childcare_address.py
  arc_application/views/nanny_views/nanny_contact_details.py
  arc_application/views/nanny_views/nanny_form_view.py
  arc_application/views/nanny_views/nanny_personal_details.py
  arc_application/views/nanny_views/nanny_previous_addresses.py
  arc_application/views/nanny_views/nanny_previous_names.py
  arc_application/views/nanny_views/nanny_previous_registration.py
  arc_application/views/nanny_views/nanny_search_summary.py
  arc_application/views/nanny_views/nanny_task_list.py
  arc_application/views/upload_capita_dbs.py
Labels: App: Backend, Type: Enhancement
